<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="../../img/girls.jpg" alt="" class="img-tumbnail rounded-circle " width="250">
            <h1 class="display-4">Girl Peolpe</h1>
            <p class="lead">In Google | Wanted</p>
        </div>
    </div>
</div>
